body {
    background-color: hsl(0, 100%, 74%);
    background-image: url(../images/bg-intro-desktop.png);
    font-family: 'Poppins', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
}

.left {
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 100px 140px;

}

h1 {
    font-size: 40px;
    width: 60%;
    margin-bottom: 20px;
}

p {
    font-size: 15px;
    width: 80%;
}

.h2 {
    background-color: hsl(248, 32%, 49%);
    
    padding: 3px 0 3px 80px;
    border: 2px solid hsl(248, 32%, 49%);
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.24);
}

h2 {
    color: white;
    font-size: 13px;
    font-weight: 700;
    
}

span {
    font-weight: 400;
    color: rgb(211, 208, 238);
}
.input-container{
    background-color: white;
    padding: 40px;
    border-radius: 9px;
    box-shadow: 0px 5px 0px rgba(117, 58, 58, 0.397);
}
input{
    display: block;
    padding: 15px 20px;
    border: 1px solid rgba(151, 151, 151, 0.39);
    border-radius: 3px;
    margin-bottom: 15px;
    padding-right: 150px;
    
     
}
button{
    background-color: hsl(154, 59%, 51%);
    color: white;
    font-size: 13px;
    border: none;
    border-radius: 5px;
    width: 341px;
    padding-top: 17px;
    padding-bottom: 17px;
    font-weight: bold;
    box-shadow: 0px 5px 0px hsl(154, 57%, 44%);
    
}
h4{
    font-size: 10px;
    color: rgba(189, 179, 179, 0.815);
}
.class2{
    color: rgba(231, 45, 70, 0.897);
    font-size: 10px;
    font-weight: bold;
}
.left1{
    margin-top: 90px;
}
